.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* Adiciona um contexto de posicionamento para os elementos filhos */
  position: relative;
  overflow: hidden; /* Esconde qualquer conteúdo que transborde */
}

/* O canvas que cobre a tela */
.scratchCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: cell; /* Muda o cursor para indicar interatividade */
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fadeOut {
  opacity: 0;
  pointer-events: none; /* Impede interações durante o fade-out */
}
